:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;
  --background: var(--Very-Light-Grayish-Blue);
}

.darkMode {
  --background: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url(/images/bg-desktop-light.jpg);
  background-color: var(--background);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position-x: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --font-josefin: "Josefin Sans", sans-serif;
}

.left-side {
  width: 87.2%;
  text-align: center;
  padding-top: 7rem;
}

@media (min-width: 1001px) {
  .left-side {
    width: 100%;
    text-align: justify;
    padding: 0 5rem;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .left-side h1 {
    font-size: 5rem;
    text-align: start;
  }
}

@media (min-width: 1001px) and (min-width: 1200px) {
  .left-side {
    padding-left: 20rem;
    padding-right: 10rem;
  }
}

.right-side {
  width: 87.2%;
  margin-top: 7rem;
}

@media (min-width: 1001px) {
  .right-side {
    width: 100%;
    padding-right: 10rem;
  }
}

@media (min-width: 1200px) {
  .right-side {
    padding-right: 20rem;
  }
}

.try-it {
  display: block;
  height: 8.8rem;
  line-height: 3rem;
  width: 100%;
  background-color: var(--blue);
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0rem 0.7rem 0rem var(--button-shadow);
          box-shadow: 0rem 0.7rem 0rem var(--button-shadow);
}

.try-it .try-desktop {
  display: none;
}

@media (min-width: 500px) {
  .try-it {
    height: 4rem;
  }
  .try-it .try-desktop {
    display: block;
    margin-top: 0px;
    line-height: 4rem;
  }
  .try-it .try-mobile {
    display: none;
  }
}

.try-it p {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bold {
  font-weight: 600;
}

.form-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0rem 0.7rem 0rem var(--button-shadow);
          box-shadow: 0rem 0.7rem 0rem var(--button-shadow);
}

.form-wrapper p {
  color: var(--grey);
  font-size: 1.2rem;
  margin: 0 0 2rem 0;
  text-align: center;
}

.form-wrapper .service-terms {
  color: var(--red);
  font-weight: 700;
}

form {
  width: 86%;
  padding: 3.5rem 0;
}

.input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
  position: relative;
}

input {
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 3.2rem 0 2rem;
  color: var(--dark-blue);
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  position: relative;
}

label {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--red);
  -ms-flex-item-align: end;
      align-self: flex-end;
  opacity: 0;
}

.submit-form {
  background-color: var(--green);
  text-transform: uppercase;
  width: 100%;
  line-height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 2rem;
  color: var(--text-color);
  border: 0px;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 0rem 0.4rem 0rem var(--darker-green);
          box-shadow: 0rem 0.4rem 0rem var(--darker-green);
}

.error-icon {
  width: 20px;
  height: 20px;
  background-image: url(../../images/icon-error.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 1.6rem;
  right: 1rem;
}

.confirmation {
  background-color: var(--green);
  width: 50%;
  min-width: 22rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 1.5rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: 0rem 0rem 1rem 0.2rem var(--darker-green);
          box-shadow: 0rem 0rem 1rem 0.2rem var(--darker-green);
  position: fixed;
  top: -4rem;
}

@media (min-width: 1001px) {
  .confirmation {
    position: absolute;
    height: 4rem;
    line-height: 4rem;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    top: -2rem;
    left: 25%;
  }
}

.redBorder {
  border: 1px solid var(--red);
}

.redFont {
  color: var(--red);
}

.display {
  opacity: 1;
}

.displaynt {
  opacity: 0;
}

.slideUp {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.slideDown {
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
}

body {
  font-family: var(--font-josefin);
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 900;
  color: var(--text-color);
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

h3 {
  font-size: 2rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
  line-height: 1.8;
}

header {
  width: 90%;
  min-height: 10.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  header {
    min-height: 15.8rem;
  }
}

h1 {
  margin-bottom: 0;
}

.dark-mode-toggle {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}

.main {
  width: 90%;
}

input[type="checkbox"] {
  background-color: var(--check-background);
}
/*# sourceMappingURL=style.css.map */