html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;
    color: var(--clr-text);

    background-image: url(/images/bg-mobile-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 700px) {
        background-image: url(/images/bg-desktop-light.jpg);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}
